* {
    box-sizing: border-box;
}

body {
    font-family: $font-sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-family: $font-alternative;
    font-size: $font-sm;
}
