.btn {
    padding: 15px 30px;
    background-color: salmon;
    font-size: 20px;
    &:hover {
        background-color: chocolate;
    }
    &-lg {
        font-size: 30px;
        &-bg-blue {
            background-color: blue;
        }
    }
    span {
        color: red;
        font-style: italic;
    }
}
