// Variables

$font-sans-serif: sans-serif;
$font-alternative: Impact;
$font-sm: 13px;

$colors: (
    "white": #ffffff,
    "black": #000000,
    "yellow": #ffff06,
    "lemon": #bad422,
);

$break-points: (
    "sm": 460px,
    "md": 760px,
);
